* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

#earthquakes-display {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}

#map-container {
    background: lightblue;
    flex: 1;
}

#info-container {
    background: palegoldenrod;
    flex: 1;
    padding: 5% 0 0 5%;
    text-transform: uppercase;
}